---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <div class="py-12 px-4 text-center">
    <h1 class="text-3xl font-bold mb-4">Favoritos</h1>
    <p>Tus películas favoritas aparecerán aquí.</p>
  </div>
</Layout>